/citeste.MD
/.venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ports.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
pages/ping.py